	<!DOCTYPE html>
	<html>
	<head>
	<title>project</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">

	<style>
	.project{
	padding: 13px 0px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	border: 1px solid #dee2e6;
	background-color: #ffc10769;

	}
	</style>
	</head>
	<body>


	<table class="table table-bordered">
	
	<tbody>
	<tr>
	<div class="project">
	project summary sheet

	</div>
	</tr>
	<tr>
	<th scope="row">Project Name</th>
	<th></th>
	<th>WO No</th>
	<th></th>
	<th>WO Date</th>
	<th></th>

	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>
	<tr>
	
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>


	<tr>

	<th scope="row">Dapartment</th>
	<th>Name</th>
	<th>Designation</th>
	<th>Phone</th>
	<th>Email</th>

	</tr>
	</tr>

	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>

	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>

	<tr>
	<th scope="row">WO Value (pre GST)</th>
	<th></th>
	<th>WO Value (GST Amount)</th>
	<th></th>
	<th>Budget</th>
	</tr>

	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>

	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>


	<tr>
	<th scope="row">Total</th>
	<th>"=Supply+I$C</th>
	<th>Supply</th>
	<th></th>
	<th>I$C</th>
	</tr>

	<tr>
	<th>Max LD%</th>
	<th></th>
	<th>LD Start Date</th>
	<th></th>
	<th>Max LD Date</th>
	<th></th>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr><tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr><tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>


	<tr>
	<th scope="row">Original LOA/Gem PO/LOI/Draft PO</th>


	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>
	<tr>
	<th scope="row">Contact Agreement Format</th>


	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>

	<tr>
	<th scope="row">Filled BG Format</th>


	</tr>

	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>

	<tr>
	<th scope="row">Scope of Work</th>
	</tr>

	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>

	<tr>
	<th scope="row">Tech specs</th>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>


	<tr>
	<th scope="row">Detailed BOQ</th>
	</tr>

	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>

	<tr>
	<th scope="row">MAF Formet</th>
	</tr>

	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>
	<tr>
	<th scope="row">MAF From Vendor</th>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>


	<tr>
	<th scope="row">MII Formet</th>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>

	<tr>
	<th scope="row">MII From Vendor</th>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>

	<tr>
	<th scope="row">List of Documents from OEM</th>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>




	</tbody>
	</table>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
	</body>
	</html>
