images/*

uploads/*.jpeg
uploads/*.jpg
uploads/*.png
uploads/tq/*
uploads/tender-results/*
uploads/signs/*
uploads/rfqdocs/*
uploads/phydocs/*
uploads/reqcancel/*
uploads/reqext/*
uploads/projects/*
uploads/pqr/*
uploads/employeeimprest/*
uploads/emds/*
uploads/docs/*
uploads/ddformat/*
uploads/ddcancel/*
uploads/courier_docs/*
uploads/chqcreate/*
uploads/bgpdfs/*
uploads/applicable/*
uploads/accounts/*
uploads/enquiries/*

upload/acceptance/*
upload/applicable/*
upload/basicdetails/*
upload/finance/*
upload/loanadvances/*
upload/loadclose/*
upload/tdsrecovery/*

quotes/submitted_docs/*

ra_results/*
pdfimages/*
checklist/*
bid_submissions/*
